body{
     background: url('../img/b12.jpg') no-repeat center fixed;
  background-size: cover;
    text-align:center;
}
h1{
    text-align: center;
    font:italic bold 40px/70px Georgia, serif;
}
a{
    background-color: red;
    color:white;
    font:italic bold 30px/40px Georgia, serif;
}
p{
    font:italic bold 30px/40px Georgia, serif;
}
@media only screen and (max-width: 320px) {
  .h1 {font-size: 20px;}
}